@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 650px;
    background-color: #1e1e1e;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#searchForm {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    background-color: #333;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#videoResults {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.videoResult {
    width: 48%;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 8px;
    background-color: #2a2a2a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #4CAF50;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a button {
    width: 100%;
    margin-top: 10px;
}
